$primary-rgb: 45, 100, 151;
// $link-color: var($primary-rgb);
$link-hover-color: rgb(45, 100, 151);

// .nav
$link-padding-x: 1rem;
$link-padding-y: 0.5rem;

// .navbar
	$navbar-padding-x: 0;
	$navbar-padding-y: 0.5rem;
	$navbar-color: rgba(0, 0, 0, 0.55);
	$navbar-hover-color: rgba(0, 0, 0, 0.7);
	$navbar-disabled-color: rgba(0, 0, 0, 0.3);
	$navbar-active-color: rgba(0, 0, 0, 0.9);
	$navbar-brand-padding-y: 0.3125rem;
	$navbar-brand-margin-end: 1rem;
	$navbar-brand-font-size: 1.25rem;
	$navbar-brand-color: rgba(0, 0, 0, 0.9);
	$navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
	$navbar-nav-link-padding-x: 0.5rem;
	$navbar-toggler-padding-y: 0.25rem;
	$navbar-toggler-padding-x: 0.75rem;
	$navbar-toggler-font-size: 1.25rem;
	$navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	$navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
	$navbar-toggler-border-radius: 0.375rem;
	$navbar-toggler-focus-width: 0.25rem;
	$navbar-toggler-transition: box-shadow 0.15s ease-in-out;

// .navbar-nav
	$link-padding-x: 0;
	$link-padding-y: 0.5rem;
	$link-font-weight: 400;
	$link-color: var($navbar-color);
	$link-hover-color: var($navbar-hover-color);
	$link-disabled-color: var($navbar-disabled-color);

// .navbar-dark
	$navbar-color: rgba(255, 255, 255, 0.55);
	$navbar-hover-color: rgba(255, 255, 255, 0.75);
	$navbar-disabled-color: rgba(255, 255, 255, 0.25);
	$navbar-active-color: #fff;
	$navbar-brand-color: #fff;
	$navbar-brand-hover-color: #fff;
	$navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
	$navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");



// .text-primary
	$text-opacity: 1;

// 
	$bg-opacity: 1;