$primary: rgb(45, 100, 151);
$secondary: #343a40;
$text-color: #6c757d;
$bg-color: #f2f2f2;

$link-color: rgba(0, 0, 0, 0.55);
$link-hover-color: $primary;

$navbar-color: rgba(255, 255, 255, 0.55);
$navbar-hover-color: rgba(255, 255, 255, 0.75);
$navbar-toggler-transition: box-shadow 0.15s ease-in-out;

$padding-half: 0.5rem;
$margin-half: 0.5rem;


// body {
// 	background-color: #fff;
// 	color: #6c757d;
// }

// h1, h2, h3 {
// 	color: #343a40;
// }